<%- include('./partials/header.ejs') %>

    <h1>Compose</h1>
    <form action="">
        <input type="text">
        <button type="submit">Publish</button>
    </form>

    <%- include('./partials/footer.ejs') %>