<%- include('./partials/header.ejs') %>

    <h1>Home</h1>
    <p>
        <%= homeStartingContentEjs %>
    </p>

    <% posts.forEach((post)=>{%>
        <p>
            <%= post.title %>
        </p>
        <%}) %>




            <%- include('./partials/footer.ejs') %>