<%- include('./partials/header.ejs') %>

    <h1>Home</h1>
    <p>
        <%= homeStartingContentEjs %>
    </p>
    <% for( let i=0; i < posts.length; i++ ) { %>
        <p>
            <%= posts[i].title %>
        </p>
        <% } %>

            <%- include('./partials/footer.ejs') %>